@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* Colores base */
  --primary-color: #f1f5f9; / * Azul pastel */
  --secondary-color-dark: #94a3b8; /* Azul ligeramente más oscuro */
  --secondary-color: #000000; /* Azul medio */
  
  /* Tema oscuro */
  --background-dark: #1e293b; /* Negro suave */
  --text-dark: #e2e8f0; /* Blanco-gris claro */
  --accent-dark: #38bdf8; /* Azul brillante para contrastes */

  /* Tema claro */
  --background-light: #d1d5db; /* Gris plomo claro */
  --text-light: #374151; /* Gris oscuro para texto */
  --accent-light: #e7612e; /* Azul más vibrante */
  
  /* Otros colores */
  --extra-light: #f1f5f9; /* Muy claro para fondos secundarios */
  --border-color: #94a3b8; /* Gris neutral para bordes */
  --hover-color: #e7612e; /* Azul para estados hover */

  /* Ancho máximo */
  --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
  test-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-dark);
  z-index: 99;
}

.nav-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav .logo a {
  display: inline-block; /* Permite que las transformaciones se apliquen */
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease; /* Añade una transición suave */
}

nav .logo a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}


nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--text-dark);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  text-decoration: none;
  color: var(--text-dark);
  transition: 0.3s;
  padding: 0.1rem 0.1rem;
}

ul li a:hover {
border-bottom: 3px solid;
}

.section {
  background-color: var(--background-light);
}
.section-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 700;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.actions-buttons {
  display: flex;
  gap: 1rem;
}

.actions-buttons button {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border:2px solid var(--border-color-light); 
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.hire-me {
  background-color: var(--text-light);
  color: var(--primary-color);
  font-weight: 400;
}

.hire-me:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}

.cv {
  background-color: var(--accent-light);
  color: var(--secondary-color);
  font-weight: 600;
}

.cv:hover {
  background-color: var(--text-light);
  color: var(--primary-color);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.icons a {
  text-decoration: none;
}


/* Icono de GitHub */
.fa-github {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f5f5f5; /* Color claro para buen contraste */
  margin-right: 1rem;
}

.fa-github:hover {
  color: #e0e0e0; /* Color ligeramente más oscuro para el hover */
  transform: scale(1.1);
}

/* Icono de LinkedIn */
.fa-linkedin {
  text-decoration: none;
  font-size: 1.5rem;
  color: #00a0dc; /* Azul claro para buen contraste */
  margin-right: 1rem;
}

.fa-linkedin:hover {
  color: #0084b4; /* Azul ligeramente más oscuro para el hover */
  transform: scale(1.1);
}

/* Icono de Instagram */
.fa-instagram {
  text-decoration: none;
  font-size: 1.5rem;
  color: #e95950; /* Rojo anaranjado para buen contraste */
  margin-right: 1rem;
}

.fa-instagram:hover {
  color: #d7443f; /* Tono más oscuro para el hover */
  transform: scale(1.1);
}

/* Icono de YouTube */
.fa-youtube {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ff0000; /* Rojo brillante para buen contraste */
  margin-right: 1rem;
}

.fa-youtube:hover {
  color: #cc0000; /* Rojo más oscuro para el hover */
  transform: scale(1.1);
}

