@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  /* Colores base */
  --primary-color: #e7612e ; / * Azul pastel */
  --secondary-color-dark: #94a3b8; /* Azul ligeramente más oscuro */
  --secondary-color: #000000; /* Azul medio */
  
  /* Tema oscuro */
  --background-dark: #1e293b; /* Negro suave */
  --text-dark: #e2e8f0; /* Blanco-gris claro */
  --accent-dark: #38bdf8; /* Azul brillante para contrastes */

  /* Tema claro */
  --background-light: #d1d5db; /* Gris plomo claro */
  --text-light: #374151; /* Gris oscuro para texto */
  --accent-light: #e7612e; /* Azul más vibrante */
  
  /* Otros colores */
  --extra-light: #f1f5f9; /* Muy claro para fondos secundarios */
  --border-color: #94a3b8; /* Gris neutral para bordes */
  --hover-color: #f1f5f9; /* Azul para estados hover */

  /* Ancho máximo */
  --max-width: 1000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
  test-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-dark);
  z-index: 99;
}

.nav-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav .logo a {
  display: inline-block; /* Permite que las transformaciones se apliquen */
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease; /* Añade una transición suave */
}

nav .logo a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}


nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--text-dark);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  padding: 0.1rem 0.1rem;
}

ul li a:hover {
border-bottom: 3px solid;
color: var(--hover-color);
}

.section {
  background-color: var(--background-light);
}
.section-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 700;
}

.description {
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.actions-buttons {
  display: flex;
  gap: 1rem;
}

.actions-buttons button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border:2px solid var(--border-color-light); 
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.hire-me {
  background-color: var(--text-light);
  color: var(--primary-color);
  font-weight: 400;
}

.hire-me:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.cv {
  background-color: var(--accent-light);
  color: var(--secondary-color);
  font-weight: 600;
}

.cv:hover {
  background-color: var(--text-light);
  color: var(--primary-color);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(18rem, 90%);
  border-radius: 80%;
}

.icons a {
  text-decoration: none;
}

.content .icons {
  display: none;
}


/* Icono de GitHub */
nav .fa-github {
  text-decoration: none;
  font-size: 1.5rem;
  color: #f5f5f5; /* Color claro para buen contraste */
  margin-right: 1rem;
}

nav .fa-github:hover {
  color: #e0e0e0; /* Color ligeramente más oscuro para el hover */
  transform: scale(1.1);
}

/* Icono de LinkedIn */
nav .fa-linkedin {
  text-decoration: none;
  font-size: 1.5rem;
  color: #00a0dc; /* Azul claro para buen contraste */
  margin-right: 1rem;
}

nav .fa-linkedin:hover {
  color: #0084b4; /* Azul ligeramente más oscuro para el hover */
  transform: scale(1.1);
}

/* Icono de Instagram */
nav .fa-instagram {
  text-decoration: none;
  font-size: 1.5rem;
  color: #e95950; /* Rojo anaranjado para buen contraste */
  margin-right: 1rem;
}

nav .fa-instagram:hover {
  color: #d7443f; /* Tono más oscuro para el hover */
  transform: scale(1.1);
}

/* Icono de YouTube */
nav .fa-youtube {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ff0000; /* Rojo brillante para buen contraste */
  margin-right: 1rem;
}

nav .fa-youtube:hover {
  color: #cc0000; /* Rojo más oscuro para el hover */
  transform: scale(1.1);
}

hr {
  display: none;
}

@media (width < 768px) {
  nav .checkbox {
    display: block;
    border: 2px solid var(--border-color-light);
  }

  nav .checkbox i {
    font-size: 2rem;
    color: var(--text-dark);
    cursor: pointer;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 70px;
    background-color: var(--background-dark);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .icons {
   display: none;
  }
  
  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.5rem;
  }

  .content .icons {
    display: block;
    justify-content: center;
    font-size: 3rem;
    margin-top: 1rem;
  }
  
  .content .icons a {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .content hr {
    display: block;
    margin-top: 2rem;
  } 
 
  .content .subtitle {
    margin-top: 1rem;
  }

  .content .title {
    margin-bottom: 2rem;
  }


  /* Icono de GitHub */
  .content .icons .fa-github {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333333; /* Gris oscuro para buen contraste */
    margin-right: 1rem;
  }

  .content .icons .fa-github:hover {
    color: #000000; /* Negro para mayor contraste en el hover */
    transform: scale(1.1);
  }

  /* Icono de LinkedIn */
  .content .icons .fa-linkedin {
    text-decoration: none;
    font-size: 1.5rem;
    color: #006699; /* Azul medio para buen contraste */
    margin-right: 1rem;
  }

  .content .icons .fa-linkedin:hover {
    color: #004466; /* Azul más oscuro para el hover */
    transform: scale(1.1);
  }

  /* Icono de Instagram */
  .content .icons .fa-instagram {
    text-decoration: none;
    font-size: 1.5rem;
    color: #c13584; /* Rosa fuerte para buen contraste */
    margin-right: 1rem;
  }

  .content .icons .fa-instagram:hover {
    color: #a02468; /* Tono más oscuro para el hover */
    transform: scale(1.1);
  }

  /* Icono de YouTube */
  .content .icons .fa-youtube {
   text-decoration: none;
   font-size: 1.5rem;
    color: #cc0000; /* Rojo oscuro para buen contraste */
    margin-right: 1rem;
  }

  .content .icons .fa-youtube:hover {
    color: #990000; /* Rojo aún más oscuro para el hover */
    transform: scale(1.1);
  }

  .section-container {
    padding: 7rem 1rem 3rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  } 

  .image {
    grid-area: 1 / 1 / 2 / 2;
  }

  .actions-buttons {
    margin: auto;
  }
}

